<div>
    <h3><b><a href="{{&urlBase }}">Indiana University Student Body Congress</a></b></h3>
    <img src="https://ci4.googleusercontent.com/proxy/gdhY7b9NiXL3Cpc2kMeYlUD9_YZYy4jDX_g0DtWZ88AcP4WlGtxHxVWFaRWZ_3v-0MkrC56shdBeKE68VOcjtqqYWWX_sZiTZyr074v2kDegYbtE2LYwW6pQPH0=s0-d-e1-ft#https://brand.iu.edu/images/signatures/logos/2019/iub-email-signature.png">
</div>