<p>Hello,</p>

<p>Bill <b><a href="{{& url}}">{{legislation.name}}</a></b> has been submitted to the
    <a href="{{&urlBase}}/committees/{{legislation.committee.id}}">{{legislation.committee.formalName}}</a> committee,
    of which you are a member. Please take a look.</p>

{{> emails/email-footer.hbs }}