<p>Hello Congress,</p>

<p><b>{{committee.formalName}}</b> will be meeting at the following date and time: <b>{{date}}</b> in
    <b>{{location}}</b>. Please find a link to the meeting
    information <a href="{{& url }}">here</a> or on the <a href="{{& urlBase}}">IUSG Congressional website</a>.</p>

<p>
    As always, if you have any questions, please feel free to reach out to the Steering Committee or Speaker Andrew
    Ireland at ajirelan@iu.edu or (812) 205-1226.
</p>

{{> emails/email-footer.hbs }}