<div aria-label="Web Style Guide social media channels" class="section bg-mahogany dark belt" role="complementary">
    <div class="row pad">
        <h2 class="visually-hidden">IUSG Congress Social Media</h2>
        <div class="invert border">
            <ul class="social">
                <li><a aria-label="Twitter" class="icon-twitter external"
                       href="https://www.twitter.com/{{twitter-handle}}">Twitter</a></li>

                <li><a aria-label="Facebook" class="icon-facebook external"
                       href="https://www.facebook.com/{{facebook-page}}">Facebook</a></li>
            </ul>
        </div>
    </div>
</div>

{{include-external "https://assets.iu.edu/brand/3.2.x/footer.html"}}

</body>
</html>