{{> partials/header.hbs}}

<div class="row" style="margin-top: 30px;">
    <h2>Advertise Your Group or Organization to Congress</h2>
</div>

<div id="content" class="row" style="margin-top: 30px;">
    <h3>This form has been disabled. Please email <a href="/representatives/ajirelan">Speaker Andrew Ireland</a> or
        <a href="/representatives/aratzman">Parliamentarian Adam Ratzman</a>
        with your proposal at <a href="mailto:ajirelan@iu.edu">ajirelan@iu.edu</a> or <a href="mailto:aratzman@iu.edu">aratzman@iu.edu</a></h3>
</div>


{{> partials/footer.hbs }}