{{> partials/header.hbs }}

<div id="main-content">
    <div class="row" style="margin-top: 30px;">
        <h2>Edit Member Info</h2>
    </div>

    <div class="collapsed bg-none">
        <div class="row">
            {{#with member}}
                <article class="profile feed-item" itemscope="itemscope" itemtype="http://schema.org/Person">
                    <form action="/edit-profile-submit/{{username}}" method="post">
                        <div class="content">
                            Name: <input id="name" name="name" style="width: 30%" type="text" value="{{name}}">
                            Phone Number: <input id="phoneNumber" name="phoneNumber" style="width: 30%" type="tel" value="{{phoneNumber}}">
                            Bio: <textarea id="bio" name="bio" rows="10" style="width: 65%">{{bio}}</textarea>
                        </div>

                        <input type="submit" class="button" value="Submit"/>
                    </form>
                </article>
            {{/with}}
        </div>
    </div>

</div>

{{> partials/footer.hbs }}