{{> partials/header.hbs}}

<div class="row" style="margin-top: 30px;">
    <h2>Congressional Initiatives</h2>
</div>

<div id="content" class="row" style="margin-top: 30px;">
    <ul>
        <li><a href="/initiatives/outside-legislation">Submit outside legislation</a></li>
        <li><a href="/initiatives/complain">Inform IUSG about things you want changed</a></li>
        <li><a href="/initiatives/micro-grant">Request a micro-grant</a></li>
        <li><a href="/initiatives/advertise">Advertise your group or organization to congress</a></li>
    </ul>
</div>


{{> partials/footer.hbs }}