{{> partials/header.hbs }}

<main class="wide no-section-nav">
    <div class="content-top"></div>
    <div id="main-content">
        <div class="bg-none section" id="content">
            <div class="row">
                <div class="layout">
                    <div class="text"><h2>Welcome to the IUSG Congressional Internal Site</h2>
                        <p>Here, Members can view and vote on legislation, see committee and meeting documents.
                            All students may request and manage grants and advertisements, and inform IUSG about issues
                            on campus.</p>

                        <p style="margin-top: 50px; font-size: 1.4375rem;"><span><b>Next Congressional Meeting:</b></span> {{&upcoming-meeting}}</p>
                    </div>
                </div><!-- /.layout --></div>
        </div>
        <div class="collapsed bg-crimson bg-dark section" id="">
            <div class="row">
                <div class="layout"><h3 class="section-title">A message from Speaker Andrew Ireland</h3>
                    <div class="text"><p>Lorem ipsum dolor sit amet, nisl causae ei vim, an augue persius mel, nam dicit
                        epicurei lucilius in. Ex per solet percipitur, soleat interpretaris ius ei. An eum clita putant
                        habemus, reque oportere forensibus nam ad, ea mundi consequat argumentum usu. Ut nec atqui
                        ancillae, in sit solum labores detraxit.</p>
                    </div><!-- /.layout --></div>
            </div>


        </div>


</main>

{{> partials/footer.hbs }}