{{> partials/header.hbs }}

<div id="main-content">
    <div class="row" style="margin-top: 30px;">
        <h2>Message Received</h2>
    </div>

    <div class="collapsed bg-none">
        <div class="row">
            <p>Your message has been received and will be reviewed by the IU Student Body Congress.</p>
            <iframe src='https://gfycat.com/ifr/QuaintLikelyFlyingfish' frameborder='0' scrolling='no' allowfullscreen width='640' height='524'></iframe>
            <p><a href="https://gfycat.com/discover/check-mark-gifs">from Check Mark GIFs</a> <a href="https://gfycat.com/quaintlikelyflyingfish-check-mark-correct">via Gfycat</a></p>
        </div>
    </div>
</div>

{{> partials/footer.hbs }}