{{> partials/header.hbs}}

<div class="row" style="margin-top: 30px;">
    <h2>Request Micro-Grant</h2>
    <p>Micro-grants are small grants (at most $500) towards individuals or organizations that help them achieve their goals or carry out events.</p>
</div>

<div id="content" class="row" style="margin-top: 30px;">
    <h3>This form has been disabled. Please email <a href="/representatives/ajirelan">Speaker Andrew Ireland</a>
        to inquire about getting a micro-grant at <a href="mailto:ajirelan@iu.edu">ajirelan@iu.edu</a></h3>
</div>


{{> partials/footer.hbs }}