{{> partials/header.hbs}}

<div class="row" style="margin-top: 30px;">
    <h2>Congressional Initiatives</h2>
</div>

<div id="content" class="row" style="margin-top: 30px;">
    <ul>
        <li><a href="/resources/drive">Google Drive (Templates, legislation, etc.)</a></li>
    </ul>
</div>


{{> partials/footer.hbs }}