{{> partials/header.hbs}}

<div class="row" style="margin-top: 30px;">
    <h2>Submit Outside Legislation</h2>
</div>

<div id="content" class="row" style="margin-top: 30px;">
    <h3>This form has been disabled. Please email <a href="/representatives/ajirelan">Speaker Andrew Ireland</a>
        with your legislation at <a href="mailto:ajirelan@iu.edu">ajirelan@iu.edu</a></h3>
</div>


{{> partials/footer.hbs }}